.myProjectBlock {
    background-color: rgba(0, 0, 0, .9);
    padding: 50px;
}
.myProjectBlock_Container {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.projectBlock_title{
    background-color: cornflowerblue;
}
.projectBlock_myProjects {
  
    width: 100%;
    justify-content: space-around;     
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}