.myProjectBlock {
    background-color: rgb(106, 188, 190);
    padding: 50px;
}
.myProjectBlock_Container {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.projectBlock_title{
    background-color: cornflowerblue;
}
.projectBlock_myProjects {
    border: 1px solid black;
    width: 100%;
    justify-content: space-around;     
    display: flex;
    flex-wrap: wrap;
}