.variantsBlock {
   /*  min-height: 30vh; */
    background-color: chocolate;
    padding: 50px;
}
.variantsBlock_Container {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}