.variantsBlock {
    background-color: #272522;
    padding: 50px;
}
.variantsBlock_Container {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}