.projectBlock {
    width: 250px;
    background-color: #272522;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 300px;
    margin: 10px 0;
    color:rgb(202, 191, 191);
}
.projectBlock_imgContainer{
    width: 100%;
    height: 200px;
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        position: relative;
}
.projectBlock_imgContainer::before {
    position:absolute;
    content: '';
    background-color: black;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    opacity: 0.3;
    z-index: 10;
}
.projectBlock_projectButton{
    padding: 10px 20px;
    background-color: cornflowerblue;
    position: relative;
    z-index: 100;
}
.projectBlock_description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.8;
    font-size: 12px;
}
.projectBlock_title {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    font-size: 16px;
}
.projectInfo {
    padding: 25px 20px;
}