.footerBlock {
    background-color: darkgoldenrod;
    padding: 50px;
}
.footerBlock_Container {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footerBlock_information {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}